
*{
    margin:0;    
    padding:0;    
 }

html { 
    margin:0;
    padding:0;
    
  }  
  body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align:center;
    background: url(../img/bg.png) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }
#logo {
 
}
nav {
    margin-top: 50px;
    font-size : 1.2em;
    margin-bottom: 130px;
}
#main{
    max-width:1280px;    
    min-height:100%;    
    margin:0 auto;    
    position:relative;      
    }    
    
#body_search {
    height: auto;
    width: 1000px;    
    padding-top: 150px;
    padding-bottom: 150px;
    margin: auto;
    background-color: rgba(197, 193, 193, 0.459);
    border-radius: 30px;
} 
#body_login {
    height: auto;
    width: 1000px;    
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    background-color: rgba(197, 193, 193, 0.459);
    border-radius: 30px;
} 
#body_signin {
    height: auto;
    width: 1000px;    
    padding: 20px;
    padding-bottom: 50px;
    margin: auto;
    background-color: rgba(197, 193, 193, 0.459);
    border-radius: 30px;
} 
#map {
    margin-top: 150px;
    width: 450px;
    height: 400px;   
  }
 
